@layout('layouts/master')


@section('content')

<div class="box">
  <div class="section">
    @if(posts.toJSON().length)
      @each(post in posts.toJSON())
        @include('posts/includes/post')
      @endeach
    @else
    <p>There are no posts.</p>
    @endif
  </div>
</div>

@endsection
