<div class="tabs">
  <ul>
    <li class="{{request.match('/') ? 'is-active' : ''}}"><a href="{{route('home')}}">Recent</a></li>
    <li class="{{request.match('/posts/unanswered') ? 'is-active' : ''}}"><a href="{{route('post.unanswered')}}">Unanswered</a></li>
    @loggedIn
    <li class="{{request.match('/posts/own') ? 'is-active' : ''}}"><a href="{{route('post.own')}}">Your Posts</a></li>
    @endloggedIn
  </ul>
</div>
