<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum</title>
    {{ style('app.css') }}
    {{ script('js/font-awesom-all.js') }}
  </head>
  <body>
      @include('layouts/includes/nav')
    <section class="container">
      <div class="columns">
        <div class="column is-3">
          @include('layouts/includes/sidebar')
        </div>
        <div class="column is-9">
          @!section('content')
        </div>
      </div>
    </section>

  </body>
</html>
